@import "../node_modules/angular-material/angular-material.css";
@import "../node_modules/angular-material-data-table/dist/md-data-table.css";
@import "../node_modules/angular-material-icons/angular-material-icons.css";
@import "../node_modules/mdi/css/materialdesignicons.css";

// Drag and drop functionality
@import "./dnd.css";

// Disables weirdness on md-chips for people
md-chips.md-default-theme .md-chips, md-chips .md-chips, md-autocomplete-wrap{
	box-shadow: none !important;
}

// Custom image buttons used in sequencing run to link to google spreadsheet.
.imgbutton{
	width: 32px;
	height: 32px;
	margin: 0px;
	padding: 0px;
	min-width: 32px;
	min-height: 32px;
}


tbody .md-row:hover {
	background-color: #fafafa;
}
tbody .md-row:focus {
	outline:none;
}
[ng-click],
[data-ng-click],
[x-ng-click] {
	cursor: pointer;
}

.leaflet-top, .leaflet-bottom {
	z-index: 7 !important;
}

img.gravatar-round {
	border-radius: 50%;
}
