@import "../node_modules/angular-material/angular-material.css";
@import "../node_modules/angular-material-data-table/dist/md-data-table.css";
@import "../node_modules/angular-material-icons/angular-material-icons.css";

// Drag and drop functionality
@import "./dnd.css";

// Disables weirdness on md-chips for people
md-chips.md-default-theme .md-chips, md-chips .md-chips {
	box-shadow: none !important;
}

// Custom image buttons used in sequencing run to link to google spreadsheet.
.imgbutton{
	width: 32px;
	height: 32px;
	margin: 0px;
	padding: 0px;
	min-width: 32px;
	min-height: 32px;
}
