<div layout="row" layout-align="center center">
    <md-card>
        <md-card-header>
            <md-card-header-text>
                <span class="md-title">Account</span>
                <span flex class="md-subhead">{{account.id}}</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <div layout="column">
                <md-input-container flex>
                    <label>phone_number</label>
                    <input disabled ng-model="account.phone_number">
                </md-input-container>
                <md-input-container flex>
                    <label>name</label>
                    <input disabled ng-model="account.name">
                </md-input-container>
                <md-input-container flex>
                    <label>language</label>
                    <input disabled ng-model="account.language">
                </md-input-container>
                <md-input-container flex>
                    <label>netid</label>
                    <input disabled ng-model="account.netid">
                </md-input-container>
                <md-input-container flex>
                    <label>tags</label>
                    <input disabled ng-model="account.tags">
                </md-input-container>
                <md-input-container flex>
                    <label>theme</label>
                    <input disabled ng-model="account.theme">
                </md-input-container>
                <md-input-container flex>
                    <label>original_id</label>
                    <input disabled ng-model="account.original_id">
                </md-input-container>
                <md-input-container flex>
                    <label>user</label>
                    <input disabled ng-model="account.user">
                </md-input-container>
                <md-input-container flex>
                    <label>orcid</label>
                    <input disabled ng-model="account.orcid">
                </md-input-container>
                <md-input-container flex>
                    <label>timezone</label>
                    <input disabled ng-model="account.timezone">
                </md-input-container>
                <md-input-container flex>
                    <label>nickname</label>
                    <input disabled ng-model="account.nickname">
                </md-input-container>
                <md-input-container flex>
                    <label>initials</label>
                    <input disabled ng-model="account.initials">
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>
</div>
