<style>
	tbody .md-row:hover {
		background-color: #fafafa;
	}
	tbody .md-row:focus {
		outline:none;
	}
	[ng-click],
	[data-ng-click],
	[x-ng-click] {
		cursor: pointer;
	}
</style>
<div class="container-fluid" layout="row" layout-align="center">
	<md-card flex="50" flex-xs="100" flex-sm="75">
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">Accounts<span>
			</md-card-title-text>
		</md-card-title>
		<md-card-content>
			<md-table-container>
				<table md-table md-progress="promise">
					<thead md-head md-order="ordering" md-on-reorder="updateData">
						<tr md-row>
							<th md-column><span>phone_number</span></th>
							<th md-column><span>name</span></th>
							<th md-column><span>language</span></th>
							<th md-column><span>netid</span></th>
							<th md-column><span>tags</span></th>
							<th md-column><span>theme</span></th>
							<th md-column><span>original_id</span></th>
							<th md-column><span>user</span></th>
							<th md-column><span>orcid</span></th>
							<th md-column><span>timezone</span></th>
							<th md-column><span>nickname</span></th>
							<th md-column><span>initials</span></th>
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row ng-repeat="account in data" ng-click="go(account.id)">
							<td md-cell>{{account.phone_number}}</td>
							<td md-cell>{{account.name}}</td>
							<td md-cell>{{account.language}}</td>
							<td md-cell>{{account.netid}}</td>
							<td md-cell>{{account.tags}}</td>
							<td md-cell>{{account.theme}}</td>
							<td md-cell>{{account.original_id}}</td>
							<td md-cell>{{account.user}}</td>
							<td md-cell>{{account.orcid}}</td>
							<td md-cell>{{account.timezone}}</td>
							<td md-cell>{{account.nickname}}</td>
							<td md-cell>{{account.initials}}</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
			<md-table-pagination
				md-limit="query.limit"
				md-page="query.page"
				md-total="{{data.meta.count}}"
				md-page-select="options.pageSelect"
				md-on-paginate="updateData">
			</md-table-pagination>
		</md-card-content>
	</md-card>
</div>
