<style>
	tbody .md-row:hover {
		background-color: #fafafa;
	}
	tbody .md-row:focus {
		outline:none;
	}
	[ng-click],
	[data-ng-click],
	[x-ng-click] {
		cursor: pointer;
	}
</style>
<div class="container-fluid" layout="row" layout-align="center">
	<md-card flex="50" flex-xs="100" flex-sm="75">
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">Apps<span>
			</md-card-title-text>
		</md-card-title>
		<md-card-content>
			<md-table-container>
				<table md-table md-progress="promise">
					<thead md-head md-order="ordering" md-on-reorder="updateData">
						<tr md-row>
							<th md-column><span>name</span></th>
							<th md-column><span>url</span></th>
							<th md-column><span>description</span></th>
							<th md-column><span>enabled</span></th>
							<th md-column><span>priority</span></th>
							<th md-column><span>hidden</span></th>
							<th md-column><span>icon</span></th>
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row ng-repeat="app in data" ng-click="go(app.id)">
							<td md-cell>{{app.name}}</td>
							<td md-cell>{{app.url}}</td>
							<td md-cell>{{app.description}}</td>
							<td md-cell>{{app.enabled}}</td>
							<td md-cell>{{app.priority}}</td>
							<td md-cell>{{app.hidden}}</td>
							<td md-cell>{{app.icon}}</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
			<md-table-pagination
				md-limit="query.limit"
				md-page="query.page"
				md-total="{{data.meta.count}}"
				md-page-select="options.pageSelect"
				md-on-paginate="updateData">
			</md-table-pagination>
		</md-card-content>
	</md-card>
</div>
