<div layout="row" layout-align="center">
	<div flex=40>
		<md-card>
			<md-card-header>
				<md-card-header-text>
					<span class="md-title">{{ bioproject.name }}</span>
					<span flex class="md-subhead">Created {{bioproject.date}}</span>
				</md-card-header-text>
			</md-card-header>
			<md-card-content>
				<div layout="column">
					<md-input-container flex>
						<label>name</label>
						<input disabled ng-model="bioproject.name">
					</md-input-container>
					<md-input-container flex>
						<label>date</label>
						<input disabled ng-model="bioproject.date">
					</md-input-container>
					<md-input-container flex>
						<label>description</label>
						<input disabled ng-model="bioproject.description">
					</md-input-container>
				</div>
			</md-card-content>
		</md-card>
		<md-card>
			<md-card-header>
				<md-card-header-text>
					<span class="md-title">Access &amp; Sharing</span>
				</md-card-header-text>
			</md-card-header>
			<md-card-content>
				<b>Groups</b>
				<div ng-repeat="group in bioproject.editingrolegroup_set">
					{{ group }}
				</div>
				<b>Users</b>
				<div ng-repeat="user in bioproject.editingroleuser_set">
					{{ user }}
				</div>
			</md-card-content>
		</md-card>
	</div>
	<div flex=60>
		<md-card>
			<md-card-header>
				<md-card-header-text>
					<span class="md-title">Samples</span>
				</md-card-header-text>
			</md-card-header>
			<md-card-content>
				<div ng-repeat="sample in bioproject.sample">
					{{ sample }}
				</div>
			</md-card-content>
		</md-card>
	</div>
</div>
