<style type="text/css">
.s48 {
	fill: #444444;
	margin: 0px;
}
md-chips.md-default-theme .md-chips, md-chips .md-chips {
	box-shadow: none !important;
}
.role-name {
	margin: 10px;
}
.role-select-nopad {
	margin-top: 0px;
	margin-bottom: 0px;
}
</style>
<div layout="row" layout-align="center">
	<div flex=40>
		<md-card>
			<md-toolbar layout="row" class="md-hue-2">
				<div class="md-toolbar-tools" flex>
					<span class="md-title">{{ data.name }}</span>
					<span flex></span>
					<!-- TODO: Show if user -->
					<md-button class="md-icon-button" aria-label="Edit User Information" ng-click="edit_data()" ng-if="disabled">
						<ng-md-icon icon="edit"></ng-md-icon>
					</md-button>
					<md-button class="md-icon-button" aria-label="Delete Phage" ng-click="edit_data_delete()" ng-if="!disabled">
						<ng-md-icon icon="delete"></ng-md-icon>
					</md-button>
					<md-button class="md-icon-button" aria-label="Save Changes" ng-click="edit_data_save()" ng-if="!disabled">
						<ng-md-icon icon="save"></ng-md-icon>
					</md-button>
					<md-button class="md-icon-button" aria-label="Cancel Changes" ng-click="edit_data_cancel()" ng-if="!disabled">
						<ng-md-icon icon="cancel"></ng-md-icon>
					</md-button>
				</div>
			</md-toolbar>
			<md-card-header>
				<md-card-header-text>
					<span flex class="md-subhead">Created {{data.date}}</span>
				</md-card-header-text>
			</md-card-header>
			<md-card-content>
				<div layout="column">
					<md-input-container flex>
						<label>name</label>
						<input ng-disabled="disabled" ng-model="data.name">
					</md-input-container>
					<md-input-container flex>
						<label>description</label>
						<input ng-disabled="disabled" ng-model="data.description">
					</md-input-container>
				</div>
			</md-card-content>
		</md-card>
		<md-card>
			<md-toolbar layout="row" class="md-hue-1">
				<div class="md-toolbar-tools" flex>
					<span class="md-title">Access &amp; Sharing</span>
					<span flex></span>
					<!-- TODO: Show if user -->
					<md-button class="md-icon-button" aria-label="Share" ng-click="popup_share()">
						<ng-md-icon icon="share"></ng-md-icon>
					</md-button>
				</div>
			</md-toolbar>
			<md-card-content>
				<b>Groups</b>
				<md-chips ng-model="data.editingrolegroup_set" readonly="true">
					<md-chip-template>
						<ng-md-icon icon="{{ $chip.role | role_icon }}"></ng-md-icon>
						{{ $chip.group.name }}
					</md-chip-template>
				</md-chips>

				<b>Users</b>
				<md-chips ng-model="data.editingroleuser_set" readonly="true">
					<md-chip-template ng-click="go_user($chip.user.id)">
						<ng-md-icon icon="{{ $chip.role | role_icon }}"></ng-md-icon>
						{{ $chip.user.name }}
					</md-chip-template>
				</md-chips>
			</md-card-content>
		</md-card>
	</div>
	<div flex=60>
		<md-card>
			<md-toolbar layout="row" class="md-hue-2">
				<div class="md-toolbar-tools" flex>
					<span class="md-title">Sample Collection</span>
					<span flex></span>
					<!-- TODO: Show if user -->
					<md-button class="md-icon-button" aria-label="Edit User Information" ng-click="edit_samples()" ng-if="disabled_samples">
						<ng-md-icon icon="edit"></ng-md-icon>
					</md-button>
					<md-button class="md-icon-button" aria-label="Save Changes" ng-click="edit_samples_save()" ng-if="!disabled_samples">
						<ng-md-icon icon="save"></ng-md-icon>
					</md-button>
					<md-button class="md-icon-button" aria-label="Cancel Changes" ng-click="edit_samples_cancel()" ng-if="!disabled_samples">
						<ng-md-icon icon="cancel"></ng-md-icon>
					</md-button>
				</div>
			</md-toolbar>
			<md-card-content>
				<md-chips
					ng-model="samples"
					readonly="disabled_samples"
					md-transform-chip="ctrl.transformChip($chip)"
					md-require-match="false">
					<md-autocomplete
						md-selected-item="ctrl.selectedItemGroup"
						md-search-text="ctrl.searchTextGroup"
						md-items="item in ctrl.querySearch(ctrl.searchTextGroup)"
						md-item-text="item.primary_name"
						placeholder="Search for a phage">
						<span md-highlight-text="ctrl.searchTextGroup">{{item.primary_name}} (P:{{item.id}})</span>
					</md-autocomplete>
					<md-chip-template>
						<span>
							<a ng-href="#/phages/{{ $chip.id }}/">
								<strong>{{$chip.primary_name}}</strong>
								<em>({{$chip.id}})</em>
							</a>
						</span>
					</md-chip-template>
				</md-chips>
			</md-card-content>
		</md-card>
	</div>
</div>






<div style="visibility: hidden">
	<div class="md-dialog-container" id="add_sample">
		<md-dialog>
			<md-toolbar>
				<div class="md-toolbar-tools">
					<span class="md-headline">Add a Phage</span>
					<span flex></span>
					<md-button ng-click="popup_cancel()" aria-label="Cancel" class="md-icon-button">
						<ng-md-icon icon="close"></ng-md-icon>
					</md-button>
				</div>
			</md-toolbar>
			<md-card style="margin:0">
				<md-card-content layout="column">
					<form ng-submit="$event.preventDefault()">
						<div>
							<md-button class="" ng-click="popup_cancel()">
								Cancel
							</md-button>
							<md-button class="md-primary md-raised" ng-click="popup_add_action()">
								Add Phage
							</md-button>
						</div>
					</form>
				</md-card-content>
			</md-card>
		</md-dialog>
	</div>
</div>








<div style="visibility: hidden">
	<div class="md-dialog-container" id="create">
		<md-dialog flex="70">
			<md-toolbar>
				<div class="md-toolbar-tools">
					<span class="md-headline">Share</span>
					<span flex></span>
					<md-button ng-click="popup_cancel()" aria-label="close" class="md-icon-button">
						<ng-md-icon icon="close"></ng-md-icon>
					</md-button>
				</div>
			</md-toolbar>
			<md-card style="margin:0">
				<md-card-content layout="column">
					<form name="shareForm">
						<div layout="row">
							<md-autocomplete flex="50"
									md-selected-item="share.selectedItemGroup"
									md-search-text="share.searchTextGroup"
									md-items="item in share.querySearchGroup(share.searchTextGroup)"
									md-item-text="item.name"
									placeholder="Search for a group"
									md-selected-item-change="share.selectedItemChange(item)"
									>
								<span md-highlight-text="share.searchText">{{item.name}}</span>
							</md-autocomplete>
							<md-autocomplete flex="50"
									md-selected-item="share.selectedItemUser"
									md-search-text="share.searchTextUser"
									md-items="item in share.querySearchUser(share.searchTextUser)"
									md-item-text="item.name"
									placeholder="Search for a user"
									md-selected-item-change="share.selectedItemChange(item)"
									>
								<span md-highlight-text="share.searchTextUser">{{item.name}}</span>
							</md-autocomplete>
						</div>
						<h3>Shared With</h3>
						<md-list flex>
							<md-list-item ng-repeat="shareTarget in share.shareWith">
								<div layout="row" flex="100">
									<ng-md-icon icon="{{shareTarget.type | role_type_icon }}"></ng-md-icon>
									<span class="role-name" >
										{{ shareTarget.name }}
									</span>
									<span flex></span>
									<md-select ng-model="shareTarget.role" class="role-select-nopad">
										<md-option value="0">
											<ng-md-icon icon="{{ 0 | role_icon }}"></ng-md-icon>
											View
										</md-option>
										<md-option value="1">
											<ng-md-icon icon="{{ 1 | role_icon }}"></ng-md-icon>
											Edit
										</md-option>
										<md-option value="2">
											<ng-md-icon icon="{{ 2 | role_icon }}"></ng-md-icon>
											Admin
										</md-option>
									</md-select>
									<md-button class="md-icon-button" ng-click="share.removeShareTarget(shareTarget)" ng-if="disabled">
										<ng-md-icon icon="delete"></ng-md-icon>
									</md-button>
								</div>
							</md-list-item>
						</md-list>
						<div>
							<md-button class="md-primary"           ng-click="popup_cancel()">
								Cancel
							</md-button>
							<md-button class="md-primary md-raised" ng-click="popup_share_action()">
								Share
							</md-button>
						</div>
					</form>
				</md-card-content>
			</md-card>
		</md-dialog>
	</div>
</div>
