<div layout="row" layout-align="center center">
	<md-card>
	    <md-card-header>
	        <md-card-header-text>
	            <span class="md-title">Box</span>
	            <span flex class="md-subhead">{{box.id}}</span>
	        </md-card-header-text>
	    </md-card-header>
	    <md-card-content>
	        <div layout="column">
	            <md-input-container flex>
	                <label>name</label>
	                <input disabled ng-model="box.name">
	            </md-input-container>
	            <md-input-container flex>
	                <label>location</label>
	                <input disabled ng-model="box.location">
	            </md-input-container>
	        </div>
	    </md-card-content>
	</md-card>
</div>
