<div layout="row" layout-align="center center">
    <md-card>
        <md-card-header>
            <md-card-header-text>
                <span class="md-title">EditingRoleUser</span>
                <span flex class="md-subhead">{{editingroleuser.id}}</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <div layout="column">
                <md-input-container flex>
                    <label>role</label>
                    <input disabled ng-model="editingroleuser.role">
                </md-input-container>
                <md-input-container flex>
                    <label>user</label>
                    <input disabled ng-model="editingroleuser.user">
                </md-input-container>
                <md-input-container flex>
                    <label>bioproject</label>
                    <input disabled ng-model="editingroleuser.bioproject">
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>
</div>
