<div layout="row" layout-align="center center">
	<md-card>
		<md-card-header>
			<md-card-header-text>
				<span class="md-title">EmailAddress</span>
				<span flex class="md-subhead">{{emailaddress.id}}</span>
			</md-card-header-text>
		</md-card-header>
		<md-card-content>
			<div layout="column">
				<md-input-container flex>
					<label>objects</label>
					<input disabled ng-model="emailaddress.objects">
				</md-input-container>
				<md-input-container flex>
					<label>verified</label>
					<input disabled ng-model="emailaddress.verified">
				</md-input-container>
				<md-input-container flex>
					<label>user</label>
					<input disabled ng-model="emailaddress.user">
				</md-input-container>
				<md-input-container flex>
					<label>primary</label>
					<input disabled ng-model="emailaddress.primary">
				</md-input-container>
				<md-input-container flex>
					<label>email</label>
					<input disabled ng-model="emailaddress.email">
				</md-input-container>
			</div>
		</md-card-content>
	</md-card>
</div>
