<div layout="row" layout-align="center center">
	<md-card>
	    <md-card-header>
	        <md-card-header-text>
	            <span class="md-title">EnvironmentalSample</span>
	            <span flex class="md-subhead">{{environmentalsample.id}}</span>
	        </md-card-header-text>
	    </md-card-header>
	    <md-card-content>
	        <div layout="column">
	            <md-input-container flex>
	                <label>tube</label>
	                <input disabled ng-model="environmentalsample.tube">
	            </md-input-container>
	            <md-input-container flex>
	                <label>sample_type</label>
	                <input disabled ng-model="environmentalsample.sample_type">
	            </md-input-container>
	            <md-input-container flex>
	                <label>description</label>
	                <input disabled ng-model="environmentalsample.description">
	            </md-input-container>
	            <md-input-container flex>
	                <label>collection</label>
	                <input disabled ng-model="environmentalsample.collection">
	            </md-input-container>
	            <md-input-container flex>
	                <label>location</label>
	                <input disabled ng-model="environmentalsample.location">
	            </md-input-container>
	        </div>
	    </md-card-content>
	</md-card>
</div>
