<style>
	tbody .md-row:hover {
	    background-color: #fafafa;
	}
	tbody .md-row:focus {
	    outline:none;
	}
	[ng-click],
	[data-ng-click],
	[x-ng-click] {
	    cursor: pointer;
	}
</style>
<div class="container-fluid" layout="row" layout-align="center">
	<md-card flex="50" flex-xs="100" flex-sm="75">
	    <md-card-title>
	        <md-card-title-text>
	            <span class="md-headline">ExperimentalResults<span>
	        </md-card-title-text>
	    </md-card-title>
	    <md-card-content>
	        <md-table-container>
	            <table md-table md-progress="promise">
	                <thead md-head md-order="ordering" md-on-reorder="updateData">
	                    <tr md-row>
	                        <th md-column><span>date</span></th>
	                        <th md-column><span>experiment</span></th>
	                        <th md-column><span>id</span></th>
	                        <th md-column><span>run_by</span></th>
	                        <th md-column><span>result</span></th>
	                    </tr>
	                </thead>
	                <tbody md-body>
	                    <tr md-row ng-repeat="experimentalresult in data" ng-click="go(experimentalresult.id)">
	                        <td md-cell>{{experimentalresult.date}}</td>
	                        <td md-cell>{{experimentalresult.experiment}}</td>
	                        <td md-cell>{{experimentalresult.id}}</td>
	                        <td md-cell>{{experimentalresult.run_by}}</td>
	                        <td md-cell>{{experimentalresult.result}}</td>
	                    </tr>
	                </tbody>
	            </table>
	        </md-table-container>
	        <md-table-pagination
	            md-limit="query.limit"
	            md-page="query.page"
	            md-total="{{data.meta.count}}"
	            md-page-select="options.pageSelect"
	            md-on-paginate="updateData">
	        </md-table-pagination>
	    </md-card-content>
	</md-card>
</div>
