<div layout="row" layout-align="center center">
    <md-card>
        <md-card-header>
            <md-card-header-text>
                <span class="md-title">Lysate</span>
                <span flex class="md-subhead">{{lysate.id}}</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <div layout="column">
                <md-input-container flex>
                    <label>isolation</label>
                    <input disabled ng-model="lysate.isolation">
                </md-input-container>
                <md-input-container flex>
                    <label>tube</label>
                    <input disabled ng-model="lysate.tube">
                </md-input-container>
                <md-input-container flex>
                    <label>source</label>
                    <input disabled ng-model="lysate.source">
                </md-input-container>
                <md-input-container flex>
                    <label>phage</label>
                    <input disabled ng-model="lysate.phage">
                </md-input-container>
                <md-input-container flex>
                    <label>owner</label>
                    <input disabled ng-model="lysate.owner">
                </md-input-container>
                <md-input-container flex>
                    <label>oldid</label>
                    <input disabled ng-model="lysate.oldid">
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>
</div>
