<style>
	tbody .md-row:hover {
		background-color: #fafafa;
	}
	tbody .md-row:focus {
		outline:none;
	}
	[ng-click],
	[data-ng-click],
	[x-ng-click] {
		cursor: pointer;
	}
</style>
<div class="container-fluid" layout="row" layout-align="center">
	<md-card flex="50" flex-xs="100" flex-sm="75">
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">Organisations<span>
			</md-card-title-text>
		</md-card-title>
		<md-card-content>
			<md-table-container>
				<table md-table md-progress="promise">
					<thead md-head md-order="ordering" md-on-reorder="updateData">
						<tr md-row>
							<th md-column><span>phone_number</span></th>
							<th md-column><span>website</span></th>
							<th md-column><span>name</span></th>
							<th md-column><span>fax_number</span></th>
							<th md-column><span>emails</span></th>
							<th md-column><span>street_address</span></th>
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row ng-repeat="organisation in data" ng-click="go(organisation.id)">
							<td md-cell>{{organisation.phone_number}}</td>
							<td md-cell>{{organisation.website}}</td>
							<td md-cell>{{organisation.name}}</td>
							<td md-cell>{{organisation.fax_number}}</td>
							<td md-cell>{{organisation.emails}}</td>
							<td md-cell>{{organisation.street_address}}</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
			<md-table-pagination
				md-limit="query.limit"
				md-page="query.page"
				md-total="{{data.meta.count}}"
				md-page-select="options.pageSelect"
				md-on-paginate="updateData">
			</md-table-pagination>
		</md-card-content>
	</md-card>
</div>
