<div layout="row" layout-align="center center">
	<md-card>
	    <md-card-header>
	        <md-card-header-text>
	            <span class="md-title">SequencingRun</span>
	            <span flex class="md-subhead">{{sequencingrun.id}}</span>
	        </md-card-header-text>
	    </md-card-header>
	    <md-card-content>
	        <div layout="column">
	            <md-input-container flex>
	                <label>methods</label>
	                <input disabled ng-model="sequencingrun.methods">
	            </md-input-container>
	            <md-input-container flex>
	                <label>bioanalyzer_qc</label>
	                <input disabled ng-model="sequencingrun.bioanalyzer_qc">
	            </md-input-container>
	            <md-input-container flex>
	                <label>date</label>
	                <input disabled ng-model="sequencingrun.date">
	            </md-input-container>
	            <md-input-container flex>
	                <label>galaxy_history</label>
	                <input disabled ng-model="sequencingrun.galaxy_history">
	            </md-input-container>
	            <md-input-container flex>
	                <label>run_prep_spreadsheet</label>
	                <input disabled ng-model="sequencingrun.run_prep_spreadsheet">
	            </md-input-container>
	            <md-input-container flex>
	                <label>id</label>
	                <input disabled ng-model="sequencingrun.id">
	            </md-input-container>
	            <md-input-container flex>
	                <label>name</label>
	                <input disabled ng-model="sequencingrun.name">
	            </md-input-container>
	        </div>
	    </md-card-content>
	</md-card>
</div>
