<div layout="row" layout-align="center center">
	<md-card>
		<md-card-header>
			<md-card-header-text>
				<span class="md-title">SequencingRunPoolItem</span>
				<span flex class="md-subhead">{{sequencingrunpoolitem.id}}</span>
			</md-card-header-text>
		</md-card-header>
		<md-card-content>
			<div layout="column">
				<md-input-container flex>
					<label>dna_conc</label>
					<input disabled ng-model="sequencingrunpoolitem.dna_conc">
				</md-input-container>
				<md-input-container flex>
					<label>phage</label>
					<input disabled ng-model="sequencingrunpoolitem.phage">
				</md-input-container>
				<md-input-container flex>
					<label>pool</label>
					<input disabled ng-model="sequencingrunpoolitem.pool">
				</md-input-container>
			</div>
		</md-card-content>
	</md-card>
</div>
