<style>
	tbody .md-row:hover {
		background-color: #fafafa;
	}
	tbody .md-row:focus {
		outline:none;
	}
	[ng-click],
	[data-ng-click],
	[x-ng-click] {
		cursor: pointer;
	}

    .selectlabel {
        padding-left:16px !important;
    }

    .selectlabel ._md-container {
        display:none !important;
    }
</style>
<div class="container-fluid" layout="row" layout-align="center">
	<md-card flex="80" flex-xs="100" flex-sm="100">
		<md-card-title>
			<md-card-title-text>
                <span class="md-headline">Inventory<span>
			</md-card-title-text>
		</md-card-title>
		<md-card-content>
            <div layout="row">
                <div flex="20">
                    <md-input-container>
                        <label>Sample</label>
                        <input md-no-asterisk name="sample_label" ng-model="sample_label" ng-model-options="{ debounce: 200 }" ng-change="updateData()"/>
                    </md-input-container>
                </div>
                <div flex="80">

                </div>
            </div>
			<md-table-container>
				<table md-table md-progress="promise">
					<thead md-head md-order="ordering" md-on-reorder="updateData">
						<tr md-row>
                            <th md-column md-order-by="sample_label"><span>Sample</span></th>
                            <th md-column>
                                <span>
                                    <md-input-container>
                                        <label>Sample type</label>
                                        <md-select name="sample_category" ng-model="choice.sample_category" ng-change="updateData()">
                                            <md-option value="">All</md-option>
                                            <md-option ng-repeat="type in sample_categories" value="{{type}}">{{type | sample_category_filter}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </span>
                            </th>
                            <th md-column>
                                <span>
                                    <md-input-container>
                                        <label>Phage</label>
                                        <md-select name="phage" ng-model="choice.phage" ng-change="updateData()">
                                            <md-option value="">All</md-option>
                                            <md-option ng-repeat="p in all_phages" value="{{p.primary_name}}">{{p.primary_name}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </span>
                            </th>
                            <th md-column>
                                <span>
                                    <md-input-container>
                                        <label>Room</label>
                                        <md-select name="rooms" ng-model="choice.rooms" ng-change="updateContainerandBox()" multiple="">
                                            <md-option ng-repeat="room in inventory.rooms" value="{{room.room}}">{{room.room}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </span>
                            </th>
                            <th md-column>
                                <span>
                                    <md-input-container>
                                        <label>Storage Type</label>
                                        <md-select name="type" ng-model="choice.type" ng-change="updateContainerandBox()">
                                            <md-option value="">All</md-option>
                                            <md-option ng-repeat="t in storage_types" value="{{t}}">{{t | storage_type_to_text}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </span>
                            </th>
                            <th md-column>
                                <span>
                                    <md-input-container>
                                        <label>Fridge/Freezer Name</label>
                                        <md-select name="container_labels" ng-model="choice.container_labels" ng-change="updateBox()" multiple="">
                                            <md-option class="selectlabel" disabled>Selection restricted</md-option>
                                            <md-option ng-repeat="label in inventory.container_labels" value="{{label.container_label}}">{{label.container_label}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </span>
                            </th>
                            <th md-column><span>Shelf</span></th>
                            <th md-column>
                                <span>
                                    <md-input-container>
                                        <label>Box Label</label>
                                        <md-select name="box_label" ng-model="choice.box_label" ng-change="updateData()">
                                            <md-option ng-show="!show_boxes" disabled>Please select a fridge/freezer</md-option>
                                            <md-option ng-show="show_boxes" ng-repeat="label in inventory.box_label" value="{{label.box | box_filter}}">{{label.box | box_filter}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </span>
                            </th>
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row ng-repeat="storage in data" ng-click="go(storage.id)">
							<td md-cell>{{storage.sample_label}}</td>
							<td md-cell>{{storage.sample_category.frontend_label}}</td>
                            <td md-cell>
                                <span ng-repeat="phage in storage.sample_category.phage_set">
                                    {{phage.primary_name}}{{$last ? '' : ', '}}
                                </span>
                            </td>
							<td md-cell>{{storage.room}}</td>
							<td md-cell>{{storage.type | storage_type_to_text}}</td>
							<td md-cell>{{storage.container_label}}</td>
							<td md-cell>{{storage.shelf}}</td>
							<td md-cell>{{storage.box | box_filter}}</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
			<md-table-pagination
				md-limit="query.limit"
				md-page="query.page"
				md-total="{{data.meta.count}}"
				md-page-select="options.pageSelect"
				md-on-paginate="updateData">
			</md-table-pagination>
		</md-card-content>
	</md-card>
</div>
