<div layout="row" layout-align="center center">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Add Tube</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <form name="StorageForm" ng-submit="saveData()" novalidate>
                <div layout="row">
                    <md-autocomplete flex="50"
                            md-selected-item="room.selectedItem"
                            md-search-text="room.searchText"
                            md-items="item in room.querySearch(room.searchText)"
                            md-item-text="item.room"
                            md-min-length="0"
                            placeholder="Room"
                            md-selected-item-change="room.selectedItemChange(item)">
                        <span md-highlight-text="room.searchText">{{item.room}}</span>
                    </md-autocomplete>
                </div>
                <br>
                <div layout="row">
                    <md-select name="container_type" ng-change="update()" ng-model="container.type" placeholder="Fridge/Freezer">
                        <md-option ng-repeat="type in container.types" ng-value="type">{{type | container_to_text}}</md-option>
                    </md-select>
                    <md-autocomplete flex="20"
                            md-input-name="containerField"
                            md-selected-item="container.selectedItem"
                            md-search-text="container.searchText"
                            md-no-cache="true"
                            md-items="item in container.querySearch(container.searchText, room.searchText, container.type)"
                            md-item-text="item.container"
                            md-min-length="0"
                            placeholder="{{container.type | container_to_text}} name"
                            md-selected-item-change="container.selectedItemChange(item)">
                        <span md-highlight-text="container.searchText">{{item.name}}</span>
                    </md-autocomplete>
                </div>
                <md-button ng-disabled="StorageForm.$invalid" class="md-primary md-raised" ng-click="saveData()">Submit</md-button>
            </form>
        </md-card-content>
    </md-card>
                <pre>
{{StorageForm | json}}
                </pre>

</div>
