<div layout="row" layout-align="center center">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Add Sample Storage</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <form name="StorageForm" ng-submit="saveData()" novalidate ng-init="clear_form()">
                <div layout="row">
                    <md-autocomplete md-no-asterisk required flex="50"
                            md-input-name="room"
                            md-selected-item="room.selectedItem"
                            md-search-text="room.searchText"
                            md-items="item in room.querySearch(room.searchText)"
                            md-no-cache="true"
                            md-item-text="item.room"
                            md-min-length="0"
                            md-floating-label="Room"
                            md-selected-item-change="room.selectedItemChange(item)">
                        <md-item-template>
                            <span md-highlight-text="room.searchText">{{item.room}}</span>
                        </md-item-template>
                        <div ng-messages="StorageForm.room.$error">
                            <div ng-message="required">This field is required</div>
                        </div>
                    </md-autocomplete>
                </div>
                <div layout="row">
                    <md-input-container>
                        <md-select md-no-cache="true" name="storage_type" ng-model="storage_type.type" placeholder="Fridge/Freezer">
                            <md-option ng-repeat="type in storage_type.types" ng-value="type">{{type | storage_type_to_text}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-autocomplete md-no-asterisk required
                            md-input-name="container_label"
                            md-selected-item="storage_type.selectedItem"
                            md-search-text="storage_type.searchText"
                            md-no-cache="true"
                            md-floating-label="{{storage_type.type | storage_type_to_text}} name"
                            md-items="item in storage_type.querySearch(storage_type.searchText)"
                            md-item-text="item.container_label"
                            md-min-length="0"
                            md-selected-item-change="storage_type.selectedItemChange(item)">
                        <md-item-template>
                            <span md-highlight-text="storage_type.searchText">{{item.container_label}}</span>
                        </md-item-template>
                        <div ng-messages="StorageForm.container_label.$error">
                            <div ng-message="required">This field is required</div>
                        </div>
                    </md-autocomplete>
                </div>
                <div layout="row">
                    <md-input-container flex>
                        <label>Shelf/Rack</label>
                        <input md-no-asterisk name="shelf" ng-model="shelf"/>
                    </md-input-container>
                    <md-autocomplete
                            md-input-name="box_label"
                            md-selected-item="box.selectedItem"
                            md-search-text="box.searchText"
                            md-no-cache="true"
                            md-floating-label="Box label"
                            md-items="item in box.querySearch(box.searchText)"
                            md-item-text="item.box"
                            md-min-length="0"
                            md-selected-item-change="box.selectedItemChange(item)">
                        <span md-highlight-text="box.searchText">{{item.box | box_filter}}</span>
                    </md-autocomplete>
                </div>
                <div layout="row">
                    <md-input-container flex>
                        <label>Sample label</label>
                        <input md-no-asterisk required name="tube" ng-model="tube_label"/>
                        <div ng-messages="StorageForm.tube.$error">
                            <div ng-message="required">This field is required</div>
                        </div>
                    </md-input-container>
                </div>
                <br>
                <md-button ng-disabled="StorageForm.$invalid" class="md-primary md-raised" ng-click="saveData()">Submit</md-button>
            </form>
        </md-card-content>
    </md-card>
</div>
