<style>
.phage-card .md-title-prefix {
	color: rgba(0,0,0,0.87)
}
.phage-card .md-title {
	color: black;
	font-weight: 700;
}
</style>
<div layout="column" layout-gt-sm="row" layout-align="center">
	<div flex=40>
		<md-card>
			<md-toolbar layout="row" class="md-hue-1">
				<div class="md-toolbar-tools phage-card" flex>
					<span class="md-title-prefix">Phage&nbsp;</span>
					<span class="md-title">{{ data.primary_name }}</span>
					<span flex></span>
					<!-- TODO: Show if user -->
					<md-button class="md-icon-button" aria-label="Edit User Information" ng-click="phage.edit_data()" ng-if="phage.disabled">
						<ng-md-icon icon="edit"></ng-md-icon>
					</md-button>
					<md-button class="md-icon-button" aria-label="Save Changes" ng-click="phage.edit_data_save()" ng-if="!phage.disabled">
						<ng-md-icon icon="save"></ng-md-icon>
					</md-button>
					<md-button class="md-icon-button" aria-label="Cancel Changes" ng-click="phage.edit_data_cancel()" ng-if="!phage.disabled">
						<ng-md-icon icon="cancel"></ng-md-icon>
					</md-button>
				</div>
			</md-toolbar>

			<md-card-header ng-if="disabled && data.historical_names" style="-bottom:0px">
				<md-card-header-text>
					<span flex class="md-subhead">
						Historically known as: {{ data.historical_names }}
					</span>
				</md-card-header-text>
			</md-card-header>
			<md-card-content>
				<div layout="column">
					<md-input-container flex ng-if="!phage.disabled">
						<label>Name</label>
						<input ng-disabled="phage.disabled" ng-model="data.primary_name">
					</md-input-container>

					<md-input-container flex ng-if="!phage.disabled">
						<label>Historical Names</label>
						<input ng-disabled="phage.disabled" ng-model="data.historical_names">
					</md-input-container>

					<md-input-container flex ng-if="!phage.disabled">
						<label>Morphology</label>
						<md-select name="morphology" ng-model="data.morphology">
							<md-option value="0">Unknown</md-option>
							<md-option value="1">Podophage</md-option>
							<md-option value="2">Myophage</md-option>
							<md-option value="3">Siphophage</md-option>
						</md-select>
					</md-input-container>



					<h3>Hosts</h3>

					<md-chips
						ng-model="data.host_lims"
						readonly="phage.disabled"
						md-transform-chip="ctrl.transformChip($chip)"
						md-require-match="false">
						<md-autocomplete
							md-selected-item="ctrl.selectedItem"
							md-search-text="ctrl.searchText"
							md-items="item in ctrl.querySearch(ctrl.searchText)"
							md-item-text="item.genus"
							placeholder="Search for a Host">
							<span md-highlight-text="ctrl.searchText">{{item.genus}} {{item.species}} {{item.strain}}</span>
						</md-autocomplete>
						<md-chip-template>
							<span>
								<a ng-href="#/bacteria/{{ $chip.id }}/">
									<i>{{$chip.genus}} {{$chip.species}}</i> {{$chip.strain}}
								</a>
							</span>
						</md-chip-template>
					</md-chips>



				</div>
			</md-card-content>
		</md-card>

		<md-card>
			<md-toolbar layout="row" class="md-hue-1">
				<div class="md-toolbar-tools media--card" flex>
					<span class="md-title">Media</span>
					<span flex></span>
					<!-- TODO: Show if user -->
					<md-button class="md-icon-button" aria-label="Upload a Picture" ng-click="upload_media()">
						<ng-md-icon icon="add"></ng-md-icon>
					</md-button>
				</div>
			</md-toolbar>
			<md-card-title-media>
				<div class="md-media-md card-media">
					<img src="http://placekitten.com/g/500/500" />
				</div>
			</md-card-title-media>
		</md-card>
	</div>
	<div flex=60 layout="column">

		<md-button ng-disabled="true" class="md-raised md-primary" ng-if="true">
			Annotation
		</md-button>

		<progress-arrow></progress-arrow>

		<md-button ng-disabled="true" class="md-raised md-primary">
			Sequencing
		</md-button>
		<md-card class="dnaprep-card" ng-if="false">
			<md-toolbar layout="row" class="md-hue-2">
				<div class="md-toolbar-tools" flex>
					<span class="md-title">Sequencing Data</span>
				</div>
			</md-toolbar>
			<md-card-content>
				<md-table-container>
					<table md-table>
						<tbody md-body>
							<tr md-row ng-repeat="dnaprep in data.phagednaprep_set">
								<td md-cell>{{ dnaprep.added | human_time_abs }}</td>
								<td md-cell>
									<storage-badge location="dnaprep.storage"></storage-badge>
								</td>
							</tr>
						</tbody>
					</table>
				</md-table-container>
			</md-card-content>
		</md-card>

		<progress-arrow></progress-arrow>

		<md-button class="md-raised md-primary" ng-if="!data.phagednaprep_set.length" ng-click="go.dnaprep_create(data.id)">
			DNA Prep Missing
		</md-button>
		<md-card class="dnaprep-card" ng-if="data.phagednaprep_set.length">
			<md-toolbar layout="row" class="md-hue-2">
				<div class="md-toolbar-tools" flex>
					<span class="md-title">Phage DNA Preps</span>
				</div>
			</md-toolbar>
			<md-card-content>
				<md-table-container>
					<table md-table>
						<tbody md-body>
							<tr md-row ng-repeat="dnaprep in data.phagednaprep_set">
								<td md-cell>{{ dnaprep.added | human_time_abs }}</td>
								<td md-cell>
									<storage-badge location="dnaprep.storage"></storage-badge>
								</td>
								<td md-cell>
									<md-button style="text-transform: none!important" class="md-raised" ng-click="go.sequencing_request(dnaprep.id)">
										<i class="mdi mdi-dna" style="font-size: 100%"></i>
										Request Sequencing
									</md-button>
								</td>
							</tr>
						</tbody>
					</table>
				</md-table-container>
			</md-card-content>
		</md-card>

		<progress-arrow></progress-arrow>

		<md-card class="lysate-card" ng-if="data.lysate">
			<md-toolbar layout="row" class="md-hue-2">
				<div class="md-toolbar-tools" flex>
					<span class="md-title">Lysate</span>
					<span flex></span>
				</div>
			</md-toolbar>
			<md-card-content>
				<md-table-container>
					<table md-table>
						<tbody md-body>
							<tr md-row>
								<td md-cell>ID</td>
								<td md-cell>L{{ data.lysate.phage.id }}</td>
							</tr>
							<tr md-row ng-if="data.lysate.oldid">
								<td md-cell>Old ID</td>
								<td md-cell>{{ data.lysate.oldid }}</td>
							</tr>
							<tr md-row>
								<td md-cell>Originally Isolated Against</td>
								<td md-cell><div ng-bind-html="data.lysate.host | host_formatter"></div></td>
							</tr>
							<tr md-row>
								<td md-cell>Storage</td>
								<td md-cell>
									<storage-badge location="data.lysate.storage"></storage-badge>
								</td>
							</tr>
						</tbody>
					</table>
				</md-table-container>
			</md-card-content>
		</md-card>
		<md-button class="md-raised md-primary" ng-if="!data.lysate">
			Lysate Data Missing
		</md-button>

		<progress-arrow></progress-arrow>

		<md-card class="env-sample-card" ng-if="data.lysate.env_sample_collection">
			<md-toolbar layout="row" class="md-hue-2">
				<div class="md-toolbar-tools" flex>
					<span class="md-title">Environmental Sample</span>
				</div>
			</md-toolbar>
			<md-card-content>
				<h3>Samples</h3>

				<leaflet width="100%" height="299px" markers="map.markers" maxbounds="map.maxbounds" lf-center="map.center"></leaflet>

				<md-table-container>
					<table md-table md-progress="promise">
						<thead md-head>
							<tr md-row>
								<th md-column>Type</th>
								<th md-column>Description</th>
								<th md-column>Collection Location</th>
								<th md-column>Tube</th>
							</tr>
						</thead>
						<tbody md-body>
							<!-- TODO: -->
							<tr md-row ng-repeat="env_sample in data.lysate.env_sample_collection.env_sample">
								<td md-cell>{{ env_sample.sample_type }}</td>
								<td md-cell>{{ env_sample.description }}</td>
								<td md-cell>{{ env_sample.collection | human_time_abs }}</td>
								<td md-cell>
									TODO
								</td>
							</tr>
						</tbody>
					</table>
				</md-table-container>
			</md-card-content>
		</md-card>
		<md-button class="md-raised md-primary" ng-if="!data.lysate.env_sample_collection">
			Environmental Sample Data Missing
		</md-button>

	</div>
</div>
