<!doctype html>
<html lang="en" ng-app="base">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="manifest" href="manifest.json">
    <title>LIMS Frontend</title>

    <style>
        a { text-decoration: none; }
    </style>
</head>
<body>
    <div ng-controller="NavCtrl" layout="column" style="height:500px" ng-cloak>
        <md-toolbar ng-cloak>
            <div class="md-toolbar-tools">
                <h2>
                    <span class="md-title"><a href="#/">LIMS Frontend {{version}}</a></span>
                </h2>
                <span flex></span>
                <md-button aria-label="report bug" ng-if="nav.userData.username" ng-click="showDialog($event)">
                    <i class="mdi mdi-bug" style="font-size: 130%"></i>
                    Report Bug
                </md-button>
                <md-menu md-position-mode="target-right target" md-offset="0 55" ng-if="nav.userData.username">
                    <md-button aria-label="Open user menu" class="md-icon-button" ng-click="$mdOpenMenu($event)" style="padding:0" layout="row" layout-align="center center">
                        <img md-menu-origin gravatar-src="nav.userData.email" style="width:100%; border-radius: 50%">
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item>
                            <md-button ng-click="go('/accounts/' + nav.userData.user_id)">
                                <span md-menu-align-target>Profile</span>
                            </md-button>
                        </md-menu-item>
                        <md-divider></md-divider>
                        <md-menu-item>
                            <md-button ng-click="go('/logout')">
                                <span md-menu-align-target>Logout</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-button aria-label="Login" ng-if="!nav.userData.username" ng-hide="nav.show_login_button == false" ng-click="go('/login')" class="md-secondary">
                    Login
                </md-button>
            </div>
        </md-toolbar>
        <div class="view-container">
            <div ng-view class="view-frame"></div>
        </div>
    </div>

    <link rel="stylesheet" type="text/css" href="build/main.css"/>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css">
    <script src="http://apis.google.com/js/client.js"></script>
    <script src="http://apis.google.com/js/api.js"></script>
    <script type="text/javascript" src="build/app.js" charset="utf-8"></script>
</body>
</html>
