<div layout="row" layout-align="center center">
	<md-card>
		<md-card-header>
			<md-card-header-text>
				<span class="md-title">Add Phage DNA Prep</span>
			</md-card-header-text>
		</md-card-header>
		<md-card-content>
			<div layout="column">
				<span class="md-title">Storage</span>
				<ng-include src="'partials/storage/storage_form.html'"></ng-include>

				<div>
					<md-button class="md-primary md-raised" ng-click="save()">Create</md-button>
				</div>

			</div>
		</md-card-content>
	</md-card>
</div>
