<div class="container-fluid" layout="row" layout-align="center">
	<div flex="40" flex-xs="100">
		<leaflet width="100%" height="500px" markers="map.markers" maxbounds="map.maxbounds" lf-center="map.center"></leaflet>
	</div>
	<md-card flex="60">
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">Register a New Environmental Sample</span>
			</md-card-title-text>
		</md-card-title>
		<md-card-content>
			<form name="createenvSampleCreateForm">
				<md-input-container class="md-block">
					<label>Sample Type</label>
					<input name="sample_type" ng-model="data.sample_type" type="text"></input>
					<div ng-messages="createenvSampleCreateForm.sample_type.$error">
					</div>
				</md-input-container>

				<div layout="row">
					<div>
						<md-input-container class="md-block">
							<label>Latitude</label>
							<input ng-required name="latitude" ng-model="marker.lat" type="number"></input>
							<div ng-messages="createenvSampleCreateForm.latitude.$error">
							</div>
						</md-input-container>
					</div>
					<div>
						<md-input-container class="md-block">
							<label>Longitude</label>
							<input ng-required name="longitude" ng-model="marker.lng" type="number"></input>
							<div ng-messages="createenvSampleCreateForm.longitude.$error">
							</div>
						</md-input-container>
					</div>
					<div>
						<md-button class="md-primary md-raised" ng-click="detect_location()">
							<ng-md-icon icon="my_location"></ng-md-icon>
							Auto-detect
						</md-button>
					</div>
				</div>

				<md-input-container class="md-block">
					<label>Description</label>
					<input  name="description" ng-model="data.description" type="text"></input>
					<div ng-messages="createenvSampleCreateForm.description.$error">
					</div>
				</md-input-container>
				<div layout="row" layout-xs="column">
					<div layout="column" flex="100">
						<md-datepicker ng-model="data.collection" md-placeholder="Collection Date"></md-datepicker>
					</div>
				</div>
                <br>
				<div>
					<md-button class="md-primary md-raised" ng-click="save()">Create</md-button>
				</div>
			</form>
		</md-card-content>
	</md-card>
</div>
