<span style="font-size: 170%">
	<!-- Env Sample -->
	<i class="mdi mdi-pine-tree" ng-style="{'color': data.env ? '#222222' : '#aaaaaa'}">
		<md-tooltip>
			Environmental Sample
		</md-tooltip>
	</i>
	<i class="mdi mdi-beaker" ng-style="{'color': data.lysate ? '#222222' : '#aaaaaa'}">
		<md-tooltip>
			Lysate
		</md-tooltip>
	</i>
	<i class="mdi mdi-test-tube" ng-style="{'color': data.dnaprep ? '#222222' : '#aaaaaa'}">
		<md-tooltip>
			Phage DNA Prep
		</md-tooltip>
	</i>
	<i class="mdi mdi-dna" ng-style="{'color': data.seq ? '#222222' : '#aaaaaa'}">
		<md-tooltip>
			Sequencing
		</md-tooltip>
	</i>
	<i class="mdi mdi-format-align-justify" ng-style="{'color': data.assembly? '#222222' : '#aaaaaa'}">
		<md-tooltip>
			Assembly
		</md-tooltip>
	</i>
	<i class="mdi mdi-abc" ng-style="{'color': data.annot? '#222222' : '#aaaaaa'}">
		<md-tooltip>
			Annotation
		</md-tooltip>
	</i>
	<i class="mdi mdi-bank" ng-style="{'color': data.ncbi ? '#222222' : '#aaaaaa'}">
		<md-tooltip>
			NCBI
		</md-tooltip>
	</i>
	<i class="mdi mdi-book-open-variant" ng-style="{'color': data.pub ? '#222222' : '#aaaaaa'}">
		<md-tooltip>
			Publication
		</md-tooltip>
	</i>
</span>
